
.card {
    max-width: min(400px, 90vw);
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    flex: 1 1;
    margin-bottom: 3rem;
}

.movieImage {
    height: 500px;
    width: 350px;
    border-radius: 5px;
}
